<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="phpunit.autoloader.php">
    <testsuites name="LogViewer Tests">
        <testsuite name="Unit Tests">
            <directory>./src/app/code/community/SwiftOtter/**/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./src/app/code/community/SwiftOtter/**/Tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
    </php>
</phpunit>